  <footer class="footer has-bg-grey-10" role="contentinfo">
    <div class="container has-padding-vert-small">
      <div class="columns">
        <div class="column">
          {{ site.copyright.kirbytext | striptags }}
        </div>
        <div class="column has-text-right">
          <a href="http://getkirby.com/made-with-kirby-and-love">Made with Kirby and <b class="heart">♥</b></a>
        </div>
      </div>
    </div>
  </footer>

</body>
</html>