{% extends '@templates/base.twig' %}

{% block content %}
  <section class="page-body has-padding-vert">
    <div class="container">
      {% include '@snippets/showcase.twig' %}
    </div>
  </section>
{% endblock %}     